<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Applicant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height:300px; background-color: rgb(238, 238, 238);">
    <img src="../../../../assets/icon/apartment2.png" width="380" height="300" alt="">
  </div>

  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>VIEW BOOKING</ion-card-subtitle>
        <ion-card-title>Poonam Vista A-402</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Unit type     : 2 BHK  <br> 
        Floor         : 4   <br>
        Saleable Area : 1020 sq. ft <br> 
        Rera Area     : 45.69 sq. mt <br>
        Booking Date : 24/01/2021
      </ion-card-content>
    </ion-card>    
  </div>
</ion-content>

