.allbookingsclients{
    font-size: 20px; 
    display: inline;
    margin: 5px;
    color: black
}
.allbookingsicons{
    color:blue
}
#search_form_container{
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    border: 2px blue solid;
}
.booking_card{
    border-left: 4px blue solid;
}